.light-control {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgba(252, 250, 254, 0.75);
}

.energy-rooms {
    position: absolute;
    right: 1rem;
    top: 1rem;
    max-height: 46vh;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgba(252, 250, 254, 0.75);
    border: 1px solid var(--color-border-primary);
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    overflow: hidden;

    .chart {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-y: auto;
    }
}

.toggle-active {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    overflow: hidden;
}

.settings-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}

.camera-settings {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
    align-items: center;
    padding: 11px;
    font-size: 0.85rem;
}

.untoggled,
.toggled {
    width: 16px;
    height: 19px;
    padding: 2px 7px;
    transition: opacity 0.2s;
    opacity: 0.7;
    cursor: pointer;
    background-size: contain;

    &:hover {
        opacity: 1;
    }
}

.toggled {
    background: url("https://icongr.am/fontawesome/toggle-on.svg?size=24&color=11c160") no-repeat center;
}

.untoggled {
    background: url("https://icongr.am/fontawesome/toggle-off.svg?size=24&color=#fff") no-repeat center;
}

.icon {
    width: 1.25rem;
}

@media (max-width: 35em) {
    .settings-box {
        position: fixed;
        top: 1rem;
        left: 1rem;
        transform: none;
    }
}
