@tailwind base;
@import "theme.css";
@tailwind components;
@tailwind utilities;

@import "canvas.css";

:root {
    --side-panel-width: 28rem;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;

    accent-color: var(--color-accent);
    font-family: "Open Sans", sans-serif;

    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
ul {
    margin: 0;
}

.ifc-types {
    position: absolute;
    left: 1.5rem;
    bottom: 4.5rem;
    max-height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgba(252, 250, 254, 0.75);
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    overflow: hidden;
}

.ifc-properties {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    max-height: 46vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .ifc-property-id {
        display: block;
        font-size: 0.9rem;
        font-weight: 400;
        opacity: 0.7;
    }

    .pset {
        padding: 0.5rem 1rem 1rem;
        border-top: 1px solid var(--color-border-primary);
        font-size: 0.9rem;

        .pset-title {
            font-size: 0.9rem;
        }

        .pset-list {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                gap: 0.25rem;
                margin-block: 0.5rem;
            }
        }
    }
}

.light-control {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgba(252, 250, 254, 0.75);
}

.energy-rooms {
    position: absolute;
    right: 1rem;
    top: 1rem;
    max-height: 46vh;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgba(252, 250, 254, 0.75);
    border: 1px solid var(--color-border-primary);
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    overflow: hidden;

    .chart {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-y: auto;
    }
}

.side-panel {
    position: absolute;
    left: 0;
    top: 0;
    height: 100dvh;
    width: var(--side-panel-width);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px) saturate(0.7);
}

.side-panel-body {
    overflow-y: auto;
}

.storeys {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    list-style: none;
    padding-left: 0;
    overflow-y: auto;

    & > li {
        .summary {
            display: flex;
            align-items: center;

            &:hover {
                background-color: rgba(252, 250, 254, 0.9);
            }
        }

        & .chevron {
            background-image: url("https://icongr.am/fontawesome/angle-right.svg?size=16&color=000000");
            opacity: 0.5;
            width: 16px;
            height: 16px;
            transition: opacity 0.2s, transform 0.2s;
        }

        h3 {
            font-size: 1rem;
            font-weight: 500;
            transition: opacity 0.2s;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            small {
                padding-left: 0.5rem;
                font-size: 0.85rem;
                opacity: 0.6;
            }
        }

        &.active {
            background-color: rgba(252, 250, 254, 0.9);

            & .chevron {
                transform: rotate(90deg);
                opacity: 0.7;
            }

            & .spaces {
                max-height: none;
            }
        }

        & .visibility-icon {
            background: url("https://icongr.am/fontawesome/eye.svg?size=16&color=#fff") no-repeat center;
            width: 16px;
            height: 16px;
            padding: 0.75rem;
            transition: opacity 0.2s;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        &.hidden {
            h3 {
                opacity: 0.6;
            }

            & .visibility-icon {
                background: url("https://icongr.am/fontawesome/eye-slash.svg?size=16&color=#fff") no-repeat center;
                opacity: 0.3;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.toggle-active {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    overflow: hidden;
}

.spaces {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;

    & > li {
        background-color: rgba(252, 250, 254, 0.8);
        cursor: pointer;

        &:hover {
            background-color: transparent;
        }

        small {
            padding-left: 0.5rem;
            font-size: 0.85rem;
            opacity: 0.6;
        }

        &.empty-storey {
            color: dimgray;
            font-size: 0.85rem;
        }
    }
}

.settings-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}

.island-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    height: 2rem;
    padding: 0.5rem;

    background-color: rgba(252, 250, 254, 0.8);
    border-radius: 3px;
    box-shadow: 0 4px 15px rgb(0 0 0 / 0.2);
    box-sizing: border-box;
    cursor: pointer;

    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.025em;
    font-weight: 400;
    outline: none;

    .icon {
        width: 1.25rem;
        opacity: 0.8;
    }
}

.camera-settings {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
    align-items: center;
    padding: 11px;
    font-size: 0.85rem;
}

.untoggled,
.toggled {
    width: 16px;
    height: 19px;
    padding: 2px 7px;
    transition: opacity 0.2s;
    opacity: 0.7;
    cursor: pointer;
    background-size: contain;

    &:hover {
        opacity: 1;
    }
}

.toggled {
    background: url("https://icongr.am/fontawesome/toggle-on.svg?size=24&color=11c160") no-repeat center;
}

.untoggled {
    background: url("https://icongr.am/fontawesome/toggle-off.svg?size=24&color=#fff") no-repeat center;
}

.card {
    width: 20rem;
    border-radius: 6px;
    background-color: rgba(252, 250, 254, 0.75);
    box-shadow: var(--shadow-xl);
    backdrop-filter: blur(20px) saturate(0.7);
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));

    .card-header {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;

        h1 {
            font-size: 1rem;
            letter-spacing: 0.025rem;
        }
    }

    .card-body {
        overflow-y: auto;
    }

    .card-wrapper {
        padding: 0.5rem 1rem;
    }
}

.icon {
    width: 1.25rem;
}

@media (max-width: 35em) {
    .side-panel {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100vw;
        max-height: 50vh;
    }

    .settings-box {
        position: fixed;
        top: 1rem;
        left: 1rem;
        transform: none;
    }
}

.hidden-panel {
    display: none;
}

@keyframes appear-bottom {
    0% {
        transform: translateY(16px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animation-appear-bottom {
    animation-name: appear-bottom;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
