@layer base {
    .panel-card,
    .card {
        width: clamp(20rem, 35vw, 30rem);
        border-radius: var(--border-radius-md);
        @apply bg-underground bg-opacity-[.9];
        box-shadow: var(--shadow-xl);
        backdrop-filter: blur(20px) saturate(0.7);
        filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));

        .card-header {
            @apply border-b border-primary;
        }

        .card-title {
            @apply text-2xs text-accent font-semibold uppercase tracking-wider;
        }

        .card-body {
            @apply overflow-y-auto;
        }

        .card-wrapper {
            @apply px-5;
        }
    }
    .panel-card {
        @apply fixed bottom-0 left-0 w-screen max-h-[50vh] rounded-t-xl z-[100];
    }
}
