.loader-progress-bar-undefined {
    width: 3.5rem;
    padding: 7px 8px;
    background-color: var(--color-bg-foreground);
    border-radius: 2rem;
}

.loader-progress-bar-undefined__track {
    position: relative;
    height: 1px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #45433f;

    &:before {
        content: "''";
        position: absolute;
        height: 100%;
        min-width: 50%;
        will-change: left;
        border-radius: 1px;
        background-color: var(--color-accent);
        animation: 1s ease 0s infinite loader-progress-bar-undefined;
    }
    &:after {
        content: "";
        position: absolute;
        height: 100%;
        min-width: 75%;
        will-change: left;
        border-radius: 1px;
        background-color: var(--color-accent);
        opacity: 0.4;
        animation: 1.5s ease 0s infinite loader-progress-bar-undefined;
        animation-delay: 0.25s;
    }
}

@keyframes loader-progress-bar-undefined {
    0% {
        left: -40%;
    }
    100% {
        left: 100%;
    }
}
