:root {
    /* ------------------------------------------------------------------------------ */
    /* Accent colors */

    --color-accent-100-hsl: 259.15, 47.47%, 80.59%; /* #c5b6e5 */
    --color-accent-200-hsl: 259.15, 47.47%, 80.59%; /* #a992d9 */
    --color-accent-hsl: 259.32, 47.97%, 51.76%; /* #6f49bf */
    --color-accent-500-hsl: var(--color-accent-hsl);
    --color-accent-600-hsl: 259.25, 44.54%, 46.67%; /* #6442ac */
    --color-accent-800-hsl: 259.32, 44.36%, 26.08%; /* #382560 */

    --color-accent-100: hsl(var(--color-accent-100-hsl));
    --color-accent-200: hsl(var(--color-accent-200-hsl));
    --color-accent: hsl(var(--color-accent-hsl));
    --color-accent-500: hsl(var(--color-accent-500-hsl));
    --color-accent-600: hsl(var(--color-accent-600-hsl));
    --color-accent-800: hsl(var(--color-accent-800-hsl));

    /* ------------------------------------------------------------------------------ */
    /* Background colors */

    --color-bg-ground-hsl: 255, 0%, 100%;
    --color-bg-ground: hsl(var(--color-bg-ground-hsl));

    --color-bg-underground-hsl: 249, 64%, 98%;
    --color-bg-underground: hsl(var(--color-bg-underground-hsl));

    --color-bg-underground-dark-hsl: 255, 0%, 0%;
    --color-bg-underground-dark: hsl(var(--color-bg-underground-dark-hsl));

    --color-bg-overground-hsl: 255, 83%, 57%, 1;
    --color-bg-overground: hsl(var(--color-bg-overground-hsl));

    /* ------------------------------------------------------------------------------ */
    /* Content colors */

    --color-content-primary-hsl: 220, 26%, 14%;
    --color-content-primary: hsl(var(--color-content-primary-hsl));
    --color-content-primary-light-hsl: 229, 27%, 100%;
    --color-content-primary-light: hsl(var(--color-content-primary-light-hsl));

    --color-content-secondary-hsl: 218, 17%, 25%;
    --color-content-secondary: hsl(var(--color-content-secondary-hsl));

    --color-content-tertiary-hsl: 216, 15%, 52%;
    --color-content-tertiary: hsl(var(--color-content-tertiary-hsl));

    /* ------------------------------------------------------------------------------ */
    /* Border colors */

    --color-border-primary-hsl: 231, 25%, 100%;
    --color-border-primary: hsl(var(--color-border-primary-hsl));

    --color-border-secondary-hsl: 0, 0%, 85%;
    --color-border-secondary: hsl(var(--color-border-secondary-hsl));

    --color-border-tertiary-hsl: 0, 0%, 75%;
    --color-border-tertiary: hsl(var(--color-border-tertiary-hsl));

    /* ------------------------------------------------------------------------------ */
    /* Feedbacks */

    --color-feedback-informative-100-hsl: 202, 100%, 84%;
    --color-feedback-informative-100: hsl(var(--color-feedback-informative-100-hsl));
    --color-feedback-informative-500-hsl: 202, 100%, 62%;
    --color-feedback-informative-500: hsl(var(--color-feedback-informative-500-hsl));
    --color-feedback-informative-800-hsl: 203, 94%, 21%;
    --color-feedback-informative-800: hsl(var(--color-feedback-informative-800-hsl));
    --color-feedback-informative-900-hsl: 202, 50%, 25%;
    --color-feedback-informative-900: hsl(var(--color-feedback-informative-900-hsl));

    --color-feedback-positive: var(--color-feedback-positive-500);
    --color-feedback-positive-hsl: var(--color-feedback-positive-500-hsl);
    --color-feedback-positive-500-hsl: 158, 64%, 52%;
    --color-feedback-positive-500: hsl(var(--color-feedback-positive-500-hsl));
    --color-feedback-positive-800-hsl: 157.2, 48%, 20.4%;
    --color-feedback-positive-800: hsl(var(--color-feedback-positive-800-hsl));
    --color-feedback-positive-900: #09271c;

    --color-feedback-warning-500-hsl: 14.4, 86%, 55.3%;
    --color-feedback-warning-500: hsl(var(--color-feedback-warning-500-hsl));
    --color-feedback-warning-800-hsl: 12, 29.4%, 13.3%;
    --color-feedback-warning-800: hsl(var(--color-feedback-warning-800-hsl));

    --color-feedback-negative-100: #f8d9d9;
    --color-feedback-negative-400: #f56565;
    --color-feedback-negative-500-hsl: 0, 95.7%, 63.53%;
    --color-feedback-negative-500: hsl(var(--color-feedback-negative-500-hsl));
    --color-feedback-negative-800-hsl: 355.52, 46.21%, 28.43%;
    --color-feedback-negative-800: hsl(var(--color-feedback-negative-800-hsl));

    /* ------------------------------------------------------------------------------ */
    /* Energy colors */

    --color-energy-increase-hsl: 347, 82%, 52%;
    --color-energy-increase: hsl(var(--color-energy-increase-hsl));
    --color-energy-decrease-hsl: 93, 90%, 35%;
    --color-energy-decrease: hsl(var(--color-energy-decrease-hsl));

    /* ------------------------------------------------------------------------------ */
    /* Fonts */

    --font-family-primary: "Inter Variable", sans-serif;
    --font-family-secondary: "Inter Variable", sans-serif;

    /* ------------------------------------------------------------------------------ */
    /* Font size */

    --font-size-3xs: 0.7rem;
    --font-size-2xs: 0.75rem;
    --font-size-xs: 0.85rem;
    --font-size-sm: 0.95rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.75rem;
    --font-size-7xl: 4rem;
    --font-size-8xl: 6rem;
    --font-size-9xl: 8rem;

    /* ------------------------------------------------------------------------------ */
    /* Leading */

    --leading-3: 0.75rem;
    --leading-4: 1rem;
    --leading-5: 1.25rem;
    --leading-6: 1.5rem;
    --leading-7: 1.75rem;
    --leading-8: 2rem;
    --leading-9: 2.25rem;
    --leading-10: 2.5rem;
    --leading-none: 1;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;

    /* ------------------------------------------------------------------------------ */
    /* Rounded */

    --border-radius-xs: 1px;
    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 5px;
    --border-radius-xl: 8px;
    --border-radius-2xl: 16px;
    --border-radius-3xl: 24px;

    /* ------------------------------------------------------------------------------ */
    /* Spacing */

    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-28: 7rem;
    --spacing-32: 8rem;
    --spacing-36: 9rem;
    --spacing-40: 10rem;
    --spacing-44: 11rem;
    --spacing-48: 12rem;
    --spacing-52: 13rem;
    --spacing-56: 14rem;
    --spacing-60: 15rem;
    --spacing-64: 16rem;
    --spacing-72: 18rem;
    --spacing-80: 20rem;
    --spacing-96: 24rem;

    /* ------------------------------------------------------------------------------ */
    /* Shadow */

    --shadow-sm: 0 1px 2px 0 #00000020;
    --shadow-md: 0 4px 6px -1px #00000020, 0 2px 4px -2px #00000020;
    --shadow-lg: 0 10px 15px -3px #00000020, 0 4px 6px -4px #00000020;
    --shadow-xl: 0 20px 25px -5px #00000020, 0 8px 10px -6px #00000020;
    --shadow-2xl: 0 25px 50px -12px #00000020;
    --shadow-3xl: 0 35px 60px -15px #00000020;
}
