@keyframes appear-top {
    0% {
        translate: 0 -16px;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

.animate-appear-top {
    animation-name: appear-top;
    animation-duration: var(--animation-duration, 250ms);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes appear-bottom {
    0% {
        translate: 0 16px;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

.animate-appear-bottom {
    animation-name: appear-bottom;
    animation-duration: var(--animation-duration, 250ms);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes appear-right {
    0% {
        translate: 16px 0;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

.animate-appear-right {
    animation-name: appear-right;
    animation-duration: var(--animation-duration, 250ms);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes appear-left {
    0% {
        translate: -16px 0;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

.animate-appear-left {
    animation-name: appear-left;
    animation-duration: var(--animation-duration, 250ms);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
