@keyframes appear-bottom {
    0% {
        transform: translateY(16px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animation-appear-bottom {
    animation-name: appear-bottom;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
